.cell {
    padding: 0;
    margin: 0;
    width: 28px;
    height: 28px;

    border-radius: 10%;
}

.open {
    background-color: #ebe7e7;
    border: 2px solid #b7b5b5;
}

.close {
    background-color: #bdbdbd;
    border: 2px outset #7b7b7b;
}