.cell {
    width: 28px;
    height: 28px;

    border-radius: 10%;
}

.open {
    background-color: #bdbdbd;
    border: 1px solid #7b7b7b;
}

.close {
    background-color: #bdbdbd;
    border: 2px outset #7b7b7b;
}