.app {
    position: relative;
    width: 100%;
    height: 100%;
    background: #008080;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
  }
  
  .persik {
    width: 256px;
    height: 256px;
    position: absolute;
    bottom: 64px;
    right: 64px;
    opacity: 0.8;
    background-image: url('../../assets/persik_computer.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
  