.smile {
    width: 25px;
    height: 25px;
    transform: scale(2);
    background-image: url(../../assets/sprite.png);
}

.funnySmile {
    background-position: 0px -25px;
}

.funnySmileClamped {
    background-position: -27px -25px;
}

.surprisedSmile {
    background-position: -54px -24px;
}

.steepSmile {
    background-position: -80px -24px;
}

.deadSmile {
    background-position: -108px -24px;
}